.User {
	display: flex;
}

.user-main {
	border: 1px solid;
	height: 100%;
	width: 265px;
	margin-right: 20px;
	margin-bottom: 10px;
	padding: 10px;
	padding-left: 20px;
	line-height: 25px;
}

form label {
	position: absolute;
}

form input {
	margin-left: 75px;
}

.other-data {
	border: 1px solid;
	border-radius: 20px;
	padding: 10px;
	margin-top: 5px;
	margin-left: -10px;
	margin-bottom: 30px;
	background-color: rgb(230, 230, 230);
}

.other-data-button {
	margin-top: 10px;
}

.update-delete-buttons {
	display: flex;
	justify-content: flex-end;
	margin-top: -20px;
}

.delete-button {
	margin-left: 10px;
	margin-right: 13px;
}

.head {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 317px;
}

.add-button {
	width: 55px;
}

.block {
	border: 1px solid;
}
