.user {
	border: 1px solid;
	width: 265px;
	margin-bottom: 10px;
	padding: 10px;
	padding-left: 20px;
	line-height: 25px;
}

.user label {
	position: absolute;
}

.user input {
	margin-left: 75px;
}

.other-data {
	border: 1px solid;
	border-radius: 20px;
	padding: 10px;
	margin-top: 5px;
	margin-left: -10px;
	margin-bottom: 30px;
	background-color: rgb(230, 230, 230);
}

.other-data-button {
	margin-top: 10px;
}

.update-delete-buttons {
	display: flex;
	justify-content: flex-end;
	margin-top: -20px;
}

.delete-button {
	margin-left: 10px;
	margin-right: 13px;
}
