.head {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.search {
	display: flex;
	align-items: center;
}

.search p {
	margin-right: 10px;
}

.search input {
	width: 120px;
	margin-right: 10px;
}

.head button {
	width: 55px;
}
